<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>

<!-- ! Beginning blog work -->
<div class="card">
    <form action='/blogs/dashboard' method='POST'>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="title" class="form-control" id="title" name="title"
                value="<%= typeof title != 'undefined' ? title : '' %>" />
            <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control" type='category' id="category" name="category"
                    value="<%= typeof category != 'undefined' ? category : '' %>">
                    <option>Cat 1</option>
                    <option>Cat 2</option>
                    <option>Cat 3</option>
                    <option>Cat 4</option>
                </select>
            </div>
            <div class="form-group">
                <label for="content">Blog Content</label>
                <textarea class="form-control" type='content' id="content" rows="8" name="content"
                    value="<%= typeof content != 'undefined' ? content : '' %>"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>